<!--content-->
<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3 style="text-align: center">Create Service</h3>
          <form class="requires-validation" novalidate>

            <div class="col-md-12">
              <input class="form-control" type="text" name="name" placeholder="Name" required>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" name="floorNumber" placeholder="Floor Number" required>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" name="area" placeholder="Area" required>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" name="rentalCost" placeholder="Rental Costs" required>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" name="rentalType" placeholder="Rental Type" required>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" name="salary" placeholder="Max Number People" required>
            </div>

            <div class="col-md-12">
              <input class="form-control" type="text" name="status" placeholder="Status" required>
            </div>

            <div class="form-check">
              <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
            </div>

            <div class="form-button mt-3">
              <button id="submit" type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
