<div id="header"></div>
<div class="container">
  <div class="row form">
    <div class="col-8">
      <form action="">
        <table class="table">
          <tr class="title">
            <th colspan="2" >NEW CONTRACT</th>
          </tr>
          <tr>
            <th>Employee ID:</th>
            <td><input type="text" name="employeeId"></td>
          </tr>
          <tr>
            <th>Customer ID:</th>
            <td><input type="text" name="customerId"></td>
          </tr>
          <tr>
            <th>Service ID:</th>
            <td><input type="text" name="serviceId"></td>
          </tr>
          <tr>
            <th>Max Capacity:</th>
            <td><input type="text" name="serviceCapacity"></td>
          </tr>
          <tr>
            <th>Signed Date:</th>
            <td><input type="date" name="signedDate"></td>
          </tr>
          <tr>
            <th>End Date:</th>
            <td>
              <input type="date" name="endDate">
            </td>
          </tr>
          <tr>
            <th>Prepaid:</th>
            <td>
              <input type="text" name="prepaid">
            </td>
          </tr>
          <tr>
            <th>
              Total Money
            </th>
            <td>
              <input type="text" name="totalMoney">
            </td>
          </tr>
          <tr class="button">
            <td><a href="" ><button class="btn-danger" type="button">Cancel</button></a></td>
            <td><button type="submit" class="btn-success save">Save</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
