body {
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: gray;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

main {
  padding: 20px;
  text-align: justify;
}

footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}
